body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #cbd3e3;
    color: rgb(255, 252, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

nav a {
    color: rgb(255, 252, 233);
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #6e6e6e;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

/* Scroll animation */
.scroll-section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
    margin: 3em 1em;
}

.scroll-section.active {
    opacity: 1;
    transform: translateY(0);
}
