body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #680404;
}

/* Header */
header {
    background-color: #cbd3e3;
    color: rgb(255, 252, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

nav a {
    color: rgb(255, 252, 233);
    text-decoration: none;
}

footer {
    background-color: #6e6e6e;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

/* Article text color */
article,
article h1,
article h2,
article h3,
article h4,
article p,
article blockquote,
article strong,
article em {
    color: rgb(255, 235, 217);
}
