body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #680404;
}
/* musikkavspiller */
.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    background: #F3D130;
    padding: 25px 35px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .cirkle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #F9F6F0;
    color: #D94B57;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.2);
}

.song-img {
    width: 220px;
    border-radius: 50%;
    border: 8px solid #F9F6F0;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1 {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}

.music-player p {
    font-size: 14px;
    color: #333;
}

#progress {
    appearance: none;
    -webkit-appearance: none; 
    width: 100%;
    height: 6px;
    background: #D94B57;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none; 
    background: #D94B57;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 9px solid #F9F6F0;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22); 
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #F9F6F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #D94B57;
    box-shadow: 0 10px 10px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #D94B57;
    color: #F9F6F0;
}

/* musikkavspiller */



/* Header */
header {
    background-color: #cbd3e3;
    color: rgb(255, 252, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

nav a {
    color: rgb(255, 252, 233);
    text-decoration: none;
}

footer {
    background-color: #6e6e6e;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

/* Article text color */
article,
article h1,
article h2,
article h3,
article h4,
article p,
article blockquote,
article strong,
article em {
    color: rgb(255, 235, 217);

}
